[submodule "FlakeFlagger"]
	path = FlakeFlagger
	url = git@github.com:Ti-tanium/FlakeFlagger.git
[submodule "FLAST"]
	path = FLAST
	url = https://github.com/FlakinessStaticDetection/FLAST.git
[submodule "shaker-artifacts-icsme"]
	path = shaker-artifacts-icsme
	url = https://github.com/STAR-RG/shaker-artifacts-icsme
[submodule "iDFlakies"]
	path = iDFlakies
	url = https://github.com/idflakies/iDFlakies.git
